In [1]:
import fastbook
fastbook.setup_book()

In [2]:
from fastbook import *
from fastai.vision.widgets import *

In [3]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual

In [4]:
import numpy as np
import pandas as pd
from heapq import merge

## Who were the diners?

In [5]:
max_persons = False
btn_done = widgets.Button(description='Done with Names')
output3 = widgets.Output()

def on_click_lastname(change):
    print("button clicked")
    max_persons = True
    print(max_persons)
    
btn_done.on_click(on_click_lastname)
display(btn_done, output3)

Button(description='Done with Names', style=ButtonStyle())

Output()

In [6]:
list_name=[]
name_input = widgets.Text(
    value='',
    placeholder='Input name and press enter',
    description='Input Name:',
    disabled=False)

def trigger_name(b):
#     print(b)
#     print(name_input.value)
    list_name.append(name_input.value)
    name_input.value = ''
    print(list_name)

name_input.on_submit(trigger_name)    

display(name_input)
print("These are the diners:")

Text(value='', description='Input Name:', placeholder='Input name and press enter')

These are the diners:
['kerk']
['kerk', 'xy']
['kerk', 'xy', 'debi']
['kerk', 'xy', 'debi', 'ck']
['kerk', 'xy', 'debi', 'ck', 'yijin']
['kerk', 'xy', 'debi', 'ck', 'yijin', 'yy']

In [6]:
list_name=[]
while True:
    try:
        name = input("Enter name, or 'done' to stop: ")
        if name == 'done':
            break
        list_name.append(name)
        print(list_name)
    except Exception as e:
        print(e)
        
print(list_name)

Enter name, or 'done' to stop: Kerk
['Kerk']
Enter name, or 'done' to stop: XY
['Kerk', 'XY']
Enter name, or 'done' to stop: Zann
['Kerk', 'XY', 'Zann']
Enter name, or 'done' to stop: Mel
['Kerk', 'XY', 'Zann', 'Mel']
Enter name, or 'done' to stop: done
['Kerk', 'XY', 'Zann', 'Mel']

## Input menu items and price

In [ ]:
list_menu=[]
list_menu_price=[]
menu_input = widgets.Text(
    value='',
    placeholder='Input menu item and press enter',
    description='Input Menu Item:',
    disabled=False)

menu_price_input = widgets.Text(
    value='',
    placeholder='Input menu price and press enter',
    description='Input Menu Item:',
    disabled=False)


def trigger_name_menu(b):
#     print(b)
#     print(name_input.value)
    list_menu.append(menu_input.value)
    menu_input.value = ''
    print(menu_input)

menu_input.on_submit(trigger_name_menu)    

display(menu_input)
print("These are the diners:")

In [7]:
list_menu=[]
list_menu_price=[]
list_whoate=[]
menu = ''
while menu != 'done':
    menu = input("Enter menu item, or 'done' to stop: ")
    if menu != 'done':
        menu_price = float(input("Enter menu price: "))
        #checkboxes = [widgets.Checkbox(value=False, description=label) for label in list_name]
        #output = widgets.VBox(children=checkboxes)
        #display(output)
        #menu_price = float(input("Enter menu price: "))
        #[box.observe(get_name) for box in checkboxes]
        list_menu.append(menu)
        list_menu_price.append(menu_price)
        print(list_menu)
        print(list_menu_price)
        

print(list_menu)
print(list_menu_price)

Enter menu item, or 'done' to stop: yb old fashioned
Enter menu price: 22
['yb old fashioned']
[22.0]
Enter menu item, or 'done' to stop: blackberry lemon
Enter menu price: 22
['yb old fashioned', 'blackberry lemon']
[22.0, 22.0]
Enter menu item, or 'done' to stop: full steam ahead
Enter menu price: 16
['yb old fashioned', 'blackberry lemon', 'full steam ahead']
[22.0, 22.0, 16.0]
Enter menu item, or 'done' to stop: blueribbon
Enter menu price: 16
['yb old fashioned', 'blackberry lemon', 'full steam ahead', 'blueribbon']
[22.0, 22.0, 16.0, 16.0]
Enter menu item, or 'done' to stop: chickenwaffle1
Enter menu price: 40
['yb old fashioned', 'blackberry lemon', 'full steam ahead', 'blueribbon', 'chickenwaffle1']
[22.0, 22.0, 16.0, 16.0, 40.0]
Enter menu item, or 'done' to stop: chickenwaffle2
Enter menu price: 40
['yb old fashioned', 'blackberry lemon', 'full steam ahead', 'blueribbon', 'chickenwaffle1', 'chickenwaffle2']
[22.0, 22.0, 16.0, 16.0, 40.0, 40.0]
Enter menu item, or 'done' to stop: chickenwaffle3
Enter menu price: 40
['yb old fashioned', 'blackberry lemon', 'full steam ahead', 'blueribbon', 'chickenwaffle1', 'chickenwaffle2', 'chickenwaffle3']
[22.0, 22.0, 16.0, 16.0, 40.0, 40.0, 40.0]
Enter menu item, or 'done' to stop: mac&cheese
Enter menu price: 14
['yb old fashioned', 'blackberry lemon', 'full steam ahead', 'blueribbon', 'chickenwaffle1', 'chickenwaffle2', 'chickenwaffle3', 'mac&cheese']
[22.0, 22.0, 16.0, 16.0, 40.0, 40.0, 40.0, 14.0]
Enter menu item, or 'done' to stop: biscuits
Enter menu price: 10
['yb old fashioned', 'blackberry lemon', 'full steam ahead', 'blueribbon', 'chickenwaffle1', 'chickenwaffle2', 'chickenwaffle3', 'mac&cheese', 'biscuits']
[22.0, 22.0, 16.0, 16.0, 40.0, 40.0, 40.0, 14.0, 10.0]
Enter menu item, or 'done' to stop: mango salad
Enter menu price: 18
['yb old fashioned', 'blackberry lemon', 'full steam ahead', 'blueribbon', 'chickenwaffle1', 'chickenwaffle2', 'chickenwaffle3', 'mac&cheese', 'biscuits', 'mango salad']
[22.0, 22.0, 16.0, 16.0, 40.0, 40.0, 40.0, 14.0, 10.0, 18.0]
Enter menu item, or 'done' to stop: popcorn shrimp
Enter menu price: 18
['yb old fashioned', 'blackberry lemon', 'full steam ahead', 'blueribbon', 'chickenwaffle1', 'chickenwaffle2', 'chickenwaffle3', 'mac&cheese', 'biscuits', 'mango salad', 'popcorn shrimp']
[22.0, 22.0, 16.0, 16.0, 40.0, 40.0, 40.0, 14.0, 10.0, 18.0, 18.0]
Enter menu item, or 'done' to stop: mashed potatoes
Enter menu price: 10
['yb old fashioned', 'blackberry lemon', 'full steam ahead', 'blueribbon', 'chickenwaffle1', 'chickenwaffle2', 'chickenwaffle3', 'mac&cheese', 'biscuits', 'mango salad', 'popcorn shrimp', 'mashed potatoes']
[22.0, 22.0, 16.0, 16.0, 40.0, 40.0, 40.0, 14.0, 10.0, 18.0, 18.0, 10.0]
Enter menu item, or 'done' to stop: hotwings
Enter menu price: 20
['yb old fashioned', 'blackberry lemon', 'full steam ahead', 'blueribbon', 'chickenwaffle1', 'chickenwaffle2', 'chickenwaffle3', 'mac&cheese', 'biscuits', 'mango salad', 'popcorn shrimp', 'mashed potatoes', 'hotwings']
[22.0, 22.0, 16.0, 16.0, 40.0, 40.0, 40.0, 14.0, 10.0, 18.0, 18.0, 10.0, 20.0]
Enter menu item, or 'done' to stop: orangejuice
Enter menu price: 8
['yb old fashioned', 'blackberry lemon', 'full steam ahead', 'blueribbon', 'chickenwaffle1', 'chickenwaffle2', 'chickenwaffle3', 'mac&cheese', 'biscuits', 'mango salad', 'popcorn shrimp', 'mashed potatoes', 'hotwings', 'orangejuice']
[22.0, 22.0, 16.0, 16.0, 40.0, 40.0, 40.0, 14.0, 10.0, 18.0, 18.0, 10.0, 20.0, 8.0]
Enter menu item, or 'done' to stop: done
['yb old fashioned', 'blackberry lemon', 'full steam ahead', 'blueribbon', 'chickenwaffle1', 'chickenwaffle2', 'chickenwaffle3', 'mac&cheese', 'biscuits', 'mango salad', 'popcorn shrimp', 'mashed potatoes', 'hotwings', 'orangejuice']
[22.0, 22.0, 16.0, 16.0, 40.0, 40.0, 40.0, 14.0, 10.0, 18.0, 18.0, 10.0, 20.0, 8.0]

In [8]:
#master function for get_name

list_whoate=[]
tab_menu_position=[]

checkboxes = [widgets.Checkbox(value=False, description=label) for label in list_name]
output = widgets.VBox(children=checkboxes)
#@out.capture()
def get_name(metadata):
    #print(metadata)
    #print(metadata['owner'].value)
    if isinstance(metadata['new'],bool):
        name = metadata['owner'].description
        if metadata['new'] == True:
            list_whoate.append(name)
            tab_menu_position.append(tab.selected_index)
        #else:
            #list_whoate.pop(-1)

[box.observe(get_name) for box in checkboxes]
[display(box) for box in checkboxes]
#display(output)

Checkbox(value=False, description='kerk')

Checkbox(value=False, description='xy')

Checkbox(value=False, description='debi')

Checkbox(value=False, description='ck')

Checkbox(value=False, description='yijin')

Checkbox(value=False, description='yy')

[None, None, None, None, None, None]

In [9]:
list_whoate = []
tab_menu_position = []

tab_contents = list_menu
children = [output for name in tab_contents]
tab = widgets.Tab()
tab.children = children
for i in range(len(children)):
    tab.set_title(i, list_menu[i])
tab

def tab_change(metadata):
    #print(metadata)
    #print(metadata['type'])
    if metadata['type'] == 'change':
        #print('test')
        for i in (range(len(list_name))):
            checkboxes[i].value = False
        
        
tab.observe(tab_change)
tab

Tab(children=(VBox(children=(Checkbox(value=False, description='kerk'), Checkbox(value=False, description='xy'…

In [ ]:
# button = widgets.Button(description="Generate Split Bill!")
# output2 = widgets.Output()

# display(button, output2)

# def on_button_clicked(b):
    
    

# button.on_click(on_button_clicked)
# print(btn_next)

In [10]:
final_list_menu = []
for i in (range(len(tab_menu_position))):
    final_list_menu.append(list_menu[tab_menu_position[i]])
    
final_list_menu

['yb old fashioned',
 'blackberry lemon',
 'full steam ahead',
 'blueribbon',
 'chickenwaffle1',
 'chickenwaffle1',
 'chickenwaffle2',
 'chickenwaffle2',
 'chickenwaffle3',
 'chickenwaffle3',
 'mac&cheese',
 'mac&cheese',
 'biscuits',
 'biscuits',
 'biscuits',
 'biscuits',
 'biscuits',
 'biscuits',
 'mango salad',
 'mango salad',
 'popcorn shrimp',
 'popcorn shrimp',
 'popcorn shrimp',
 'popcorn shrimp',
 'popcorn shrimp',
 'popcorn shrimp',
 'mashed potatoes',
 'mashed potatoes',
 'hotwings',
 'hotwings',
 'orangejuice',
 'orangejuice']

In [11]:
final_list_menu_price = []
for i in (range(len(tab_menu_position))):
    final_list_menu_price.append(list_menu_price[tab_menu_position[i]])
    
final_list_menu_price

[22.0,
 22.0,
 16.0,
 16.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 14.0,
 14.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 10.0,
 10.0,
 20.0,
 20.0,
 8.0,
 8.0]

In [12]:
df = pd.DataFrame(list_whoate, columns = ['CONSUMER'])
df.insert(0,'MENU_ITEM',final_list_menu, True)
df.insert(1,'MENU_ITEM_PRICE',final_list_menu_price, True)
df

           MENU_ITEM  MENU_ITEM_PRICE CONSUMER
0   yb old fashioned             22.0       ck
1   blackberry lemon             22.0     debi
2   full steam ahead             16.0     kerk
3         blueribbon             16.0       yy
4     chickenwaffle1             40.0     kerk
5     chickenwaffle1             40.0       xy
6     chickenwaffle2             40.0     debi
7     chickenwaffle2             40.0       ck
8     chickenwaffle3             40.0    yijin
9     chickenwaffle3             40.0       yy
10        mac&cheese             14.0       xy
11        mac&cheese             14.0     kerk
12          biscuits             10.0     kerk
13          biscuits             10.0       xy
14          biscuits             10.0     debi
15          biscuits             10.0       ck
16          biscuits             10.0    yijin
17          biscuits             10.0       yy
18       mango salad             18.0     debi
19       mango salad             18.0       ck
20    popcorn shrimp             18.0     kerk
21    popcorn shrimp             18.0       xy
22    popcorn shrimp             18.0     debi
23    popcorn shrimp             18.0       ck
24    popcorn shrimp             18.0    yijin
25    popcorn shrimp             18.0       yy
26   mashed potatoes             10.0    yijin
27   mashed potatoes             10.0       yy
28          hotwings             20.0     kerk
29          hotwings             20.0       xy
30       orangejuice              8.0    yijin
31       orangejuice              8.0       yy

In [13]:
table = pd.pivot_table(df, values = 'MENU_ITEM_PRICE', index = ['MENU_ITEM'], columns = ['CONSUMER'], aggfunc={'MENU_ITEM_PRICE': np.sum})
table

CONSUMER            ck  debi  kerk    xy  yijin    yy
MENU_ITEM
biscuits          10.0  10.0  10.0  10.0   10.0  10.0
blackberry lemon   NaN  22.0   NaN   NaN    NaN   NaN
blueribbon         NaN   NaN   NaN   NaN    NaN  16.0
chickenwaffle1     NaN   NaN  40.0  40.0    NaN   NaN
chickenwaffle2    40.0  40.0   NaN   NaN    NaN   NaN
chickenwaffle3     NaN   NaN   NaN   NaN   40.0  40.0
full steam ahead   NaN   NaN  16.0   NaN    NaN   NaN
hotwings           NaN   NaN  20.0  20.0    NaN   NaN
mac&cheese         NaN   NaN  14.0  14.0    NaN   NaN
mango salad       18.0  18.0   NaN   NaN    NaN   NaN
mashed potatoes    NaN   NaN   NaN   NaN   10.0  10.0
orangejuice        NaN   NaN   NaN   NaN    8.0   8.0
popcorn shrimp    18.0  18.0  18.0  18.0   18.0  18.0
yb old fashioned  22.0   NaN   NaN   NaN    NaN   NaN

In [14]:
temp = df.groupby('MENU_ITEM').agg({'MENU_ITEM':['count']})
temp
df2 = df.join(temp, on='MENU_ITEM')
df2

/opt/conda/envs/fastai/lib/python3.8/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

           MENU_ITEM  MENU_ITEM_PRICE CONSUMER  (MENU_ITEM, count)
0   yb old fashioned             22.0       ck                   1
1   blackberry lemon             22.0     debi                   1
2   full steam ahead             16.0     kerk                   1
3         blueribbon             16.0       yy                   1
4     chickenwaffle1             40.0     kerk                   2
5     chickenwaffle1             40.0       xy                   2
6     chickenwaffle2             40.0     debi                   2
7     chickenwaffle2             40.0       ck                   2
8     chickenwaffle3             40.0    yijin                   2
9     chickenwaffle3             40.0       yy                   2
10        mac&cheese             14.0       xy                   2
11        mac&cheese             14.0     kerk                   2
12          biscuits             10.0     kerk                   6
13          biscuits             10.0       xy                   6
14          biscuits             10.0     debi                   6
15          biscuits             10.0       ck                   6
16          biscuits             10.0    yijin                   6
17          biscuits             10.0       yy                   6
18       mango salad             18.0     debi                   2
19       mango salad             18.0       ck                   2
20    popcorn shrimp             18.0     kerk                   6
21    popcorn shrimp             18.0       xy                   6
22    popcorn shrimp             18.0     debi                   6
23    popcorn shrimp             18.0       ck                   6
24    popcorn shrimp             18.0    yijin                   6
25    popcorn shrimp             18.0       yy                   6
26   mashed potatoes             10.0    yijin                   2
27   mashed potatoes             10.0       yy                   2
28          hotwings             20.0     kerk                   2
29          hotwings             20.0       xy                   2
30       orangejuice              8.0    yijin                   2
31       orangejuice              8.0       yy                   2

In [92]:
# df2[('MENU_ITEM', 'count')]

0    2
1    2
2    3
3    3
4    3
5    1
Name: (MENU_ITEM, count), dtype: int64

In [96]:
# df2.rename(columns={"MENU_ITEM":"MENU_ITEM","MENU_ITEM_PRICE":"MENU_ITEM_PRICE","CONSUMER":"CONSUMER","new":"new","new2":"new2","('MENU_ITEM', 'count')":"CONSUMER_COUNT"})
# df2

  MENU_ITEM  MENU_ITEM_PRICE CONSUMER   new  new2  (MENU_ITEM, count)
0    burger             16.0     kerk  16.0   NaN                   2
1    burger             16.0       xy  16.0   NaN                   2
2     fries              5.0     kerk   5.0   NaN                   3
3     fries              5.0       xy   5.0   NaN                   3
4     fries              5.0   chewie   5.0   NaN                   3
5    shakes              6.0   chewie   6.0   NaN                   1

In [15]:
for col in df2.columns:
    print(col)

MENU_ITEM
MENU_ITEM_PRICE
CONSUMER
('MENU_ITEM', 'count')

In [16]:
df2['SPLIT_PRICE'] = df2['MENU_ITEM_PRICE']/df2[('MENU_ITEM', 'count')]
df2['tenpercent'] = 0.1*df2['MENU_ITEM_PRICE']/df2[('MENU_ITEM', 'count')]
df2['sevenpercentgst'] = 0.07*((0.1*df2['MENU_ITEM_PRICE']/df2[('MENU_ITEM', 'count')])+(df2['MENU_ITEM_PRICE']/df2[('MENU_ITEM', 'count')]))
df2

,MENU_ITEM,MENU_ITEM_PRICE,CONSUMER,"(MENU_ITEM, count)",SPLIT_PRICE,tenpercent,sevenpercentgst
0,yb old fashioned,22.0,ck,1,22.000000,2.200000,1.694000
1,blackberry lemon,22.0,debi,1,22.000000,2.200000,1.694000
2,full steam ahead,16.0,kerk,1,16.000000,1.600000,1.232000
3,blueribbon,16.0,yy,1,16.000000,1.600000,1.232000
4,chickenwaffle1,40.0,kerk,2,20.000000,2.000000,1.540000
5,chickenwaffle1,40.0,xy,2,20.000000,2.000000,1.540000
6,chickenwaffle2,40.0,debi,2,20.000000,2.000000,1.540000
7,chickenwaffle2,40.0,ck,2,20.000000,2.000000,1.540000
8,chickenwaffle3,40.0,yijin,2,20.000000,2.000000,1.540000
9,chickenwaffle3,40.0,yy,2,20.000000,2.000000,1.540000
10,mac&cheese,14.0,xy,2,7.000000,0.700000,0.539000
11,mac&cheese,14.0,kerk,2,7.000000,0.700000,0.539000
12,biscuits,10.0,kerk,6,1.666667,0.166667,0.128333
13,biscuits,10.0,xy,6,1.666667,0.166667,0.128333
14,biscuits,10.0,debi,6,1.666667,0.166667,0.128333
15,biscuits,10.0,ck,6,1.666667,0.166667,0.128333
16,biscuits,10.0,yijin,6,1.666667,0.166667,0.128333
17,biscuits,10.0,yy,6,1.666667,0.166667,0.128333
18,mango salad,18.0,debi,2,9.000000,0.900000,0.693000
19,mango salad,18.0,ck,2,9.000000,0.900000,0.693000
20,popcorn shrimp,18.0,kerk,6,3.000000,0.300000,0.231000
21,popcorn shrimp,18.0,xy,6,3.000000,0.300000,0.231000
22,popcorn shrimp,18.0,debi,6,3.000000,0.300000,0.231000
23,popcorn shrimp,18.0,ck,6,3.000000,0.300000,0.231000
24,popcorn shrimp,18.0,yijin,6,3.000000,0.300000,0.231000
25,popcorn shrimp,18.0,yy,6,3.000000,0.300000,0.231000
26,mashed potatoes,10.0,yijin,2,5.000000,0.500000,0.385000
27,mashed potatoes,10.0,yy,2,5.000000,0.500000,0.385000
28,hotwings,20.0,kerk,2,10.000000,1.000000,0.770000
29,hotwings,20.0,xy,2,10.000000,1.000000,0.770000
30,orangejuice,8.0,yijin,2,4.000000,0.400000,0.308000
31,orangejuice,8.0,yy,2,4.000000,0.400000,0.308000

In [17]:
df2['grandtotal']=df2['SPLIT_PRICE']+df2['tenpercent']+df2['sevenpercentgst']
df2

,MENU_ITEM,MENU_ITEM_PRICE,CONSUMER,"(MENU_ITEM, count)",SPLIT_PRICE,tenpercent,sevenpercentgst,grandtotal
0,yb old fashioned,22.0,ck,1,22.000000,2.200000,1.694000,25.894000
1,blackberry lemon,22.0,debi,1,22.000000,2.200000,1.694000,25.894000
2,full steam ahead,16.0,kerk,1,16.000000,1.600000,1.232000,18.832000
3,blueribbon,16.0,yy,1,16.000000,1.600000,1.232000,18.832000
4,chickenwaffle1,40.0,kerk,2,20.000000,2.000000,1.540000,23.540000
5,chickenwaffle1,40.0,xy,2,20.000000,2.000000,1.540000,23.540000
6,chickenwaffle2,40.0,debi,2,20.000000,2.000000,1.540000,23.540000
7,chickenwaffle2,40.0,ck,2,20.000000,2.000000,1.540000,23.540000
8,chickenwaffle3,40.0,yijin,2,20.000000,2.000000,1.540000,23.540000
9,chickenwaffle3,40.0,yy,2,20.000000,2.000000,1.540000,23.540000
10,mac&cheese,14.0,xy,2,7.000000,0.700000,0.539000,8.239000
11,mac&cheese,14.0,kerk,2,7.000000,0.700000,0.539000,8.239000
12,biscuits,10.0,kerk,6,1.666667,0.166667,0.128333,1.961667
13,biscuits,10.0,xy,6,1.666667,0.166667,0.128333,1.961667
14,biscuits,10.0,debi,6,1.666667,0.166667,0.128333,1.961667
15,biscuits,10.0,ck,6,1.666667,0.166667,0.128333,1.961667
16,biscuits,10.0,yijin,6,1.666667,0.166667,0.128333,1.961667
17,biscuits,10.0,yy,6,1.666667,0.166667,0.128333,1.961667
18,mango salad,18.0,debi,2,9.000000,0.900000,0.693000,10.593000
19,mango salad,18.0,ck,2,9.000000,0.900000,0.693000,10.593000
20,popcorn shrimp,18.0,kerk,6,3.000000,0.300000,0.231000,3.531000
21,popcorn shrimp,18.0,xy,6,3.000000,0.300000,0.231000,3.531000
22,popcorn shrimp,18.0,debi,6,3.000000,0.300000,0.231000,3.531000
23,popcorn shrimp,18.0,ck,6,3.000000,0.300000,0.231000,3.531000
24,popcorn shrimp,18.0,yijin,6,3.000000,0.300000,0.231000,3.531000
25,popcorn shrimp,18.0,yy,6,3.000000,0.300000,0.231000,3.531000
26,mashed potatoes,10.0,yijin,2,5.000000,0.500000,0.385000,5.885000
27,mashed potatoes,10.0,yy,2,5.000000,0.500000,0.385000,5.885000
28,hotwings,20.0,kerk,2,10.000000,1.000000,0.770000,11.770000
29,hotwings,20.0,xy,2,10.000000,1.000000,0.770000,11.770000
30,orangejuice,8.0,yijin,2,4.000000,0.400000,0.308000,4.708000
31,orangejuice,8.0,yy,2,4.000000,0.400000,0.308000,4.708000

In [18]:
df3 = df2.groupby('CONSUMER').agg({'grandtotal':['sum']})
df3

         grandtotal
                sum
CONSUMER
ck        65.519667
debi      65.519667
kerk      67.873667
xy        49.041667
yijin     39.625667
yy        58.457667

In [19]:
df4 = df2.join(df3, on='CONSUMER')
df4

/opt/conda/envs/fastai/lib/python3.8/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

,MENU_ITEM,MENU_ITEM_PRICE,CONSUMER,"(MENU_ITEM, count)",SPLIT_PRICE,tenpercent,sevenpercentgst,grandtotal,"(grandtotal, sum)"
0,yb old fashioned,22.0,ck,1,22.000000,2.200000,1.694000,25.894000,65.519667
1,blackberry lemon,22.0,debi,1,22.000000,2.200000,1.694000,25.894000,65.519667
2,full steam ahead,16.0,kerk,1,16.000000,1.600000,1.232000,18.832000,67.873667
3,blueribbon,16.0,yy,1,16.000000,1.600000,1.232000,18.832000,58.457667
4,chickenwaffle1,40.0,kerk,2,20.000000,2.000000,1.540000,23.540000,67.873667
5,chickenwaffle1,40.0,xy,2,20.000000,2.000000,1.540000,23.540000,49.041667
6,chickenwaffle2,40.0,debi,2,20.000000,2.000000,1.540000,23.540000,65.519667
7,chickenwaffle2,40.0,ck,2,20.000000,2.000000,1.540000,23.540000,65.519667
8,chickenwaffle3,40.0,yijin,2,20.000000,2.000000,1.540000,23.540000,39.625667
9,chickenwaffle3,40.0,yy,2,20.000000,2.000000,1.540000,23.540000,58.457667
10,mac&cheese,14.0,xy,2,7.000000,0.700000,0.539000,8.239000,49.041667
11,mac&cheese,14.0,kerk,2,7.000000,0.700000,0.539000,8.239000,67.873667
12,biscuits,10.0,kerk,6,1.666667,0.166667,0.128333,1.961667,67.873667
13,biscuits,10.0,xy,6,1.666667,0.166667,0.128333,1.961667,49.041667
14,biscuits,10.0,debi,6,1.666667,0.166667,0.128333,1.961667,65.519667
15,biscuits,10.0,ck,6,1.666667,0.166667,0.128333,1.961667,65.519667
16,biscuits,10.0,yijin,6,1.666667,0.166667,0.128333,1.961667,39.625667
17,biscuits,10.0,yy,6,1.666667,0.166667,0.128333,1.961667,58.457667
18,mango salad,18.0,debi,2,9.000000,0.900000,0.693000,10.593000,65.519667
19,mango salad,18.0,ck,2,9.000000,0.900000,0.693000,10.593000,65.519667
20,popcorn shrimp,18.0,kerk,6,3.000000,0.300000,0.231000,3.531000,67.873667
21,popcorn shrimp,18.0,xy,6,3.000000,0.300000,0.231000,3.531000,49.041667
22,popcorn shrimp,18.0,debi,6,3.000000,0.300000,0.231000,3.531000,65.519667
23,popcorn shrimp,18.0,ck,6,3.000000,0.300000,0.231000,3.531000,65.519667
24,popcorn shrimp,18.0,yijin,6,3.000000,0.300000,0.231000,3.531000,39.625667
25,popcorn shrimp,18.0,yy,6,3.000000,0.300000,0.231000,3.531000,58.457667
26,mashed potatoes,10.0,yijin,2,5.000000,0.500000,0.385000,5.885000,39.625667
27,mashed potatoes,10.0,yy,2,5.000000,0.500000,0.385000,5.885000,58.457667
28,hotwings,20.0,kerk,2,10.000000,1.000000,0.770000,11.770000,67.873667
29,hotwings,20.0,xy,2,10.000000,1.000000,0.770000,11.770000,49.041667
30,orangejuice,8.0,yijin,2,4.000000,0.400000,0.308000,4.708000,39.625667
31,orangejuice,8.0,yy,2,4.000000,0.400000,0.308000,4.708000,58.457667

In [20]:
table3 = pd.pivot_table(df4, values = 'grandtotal', columns = ['CONSUMER'], aggfunc={'grandtotal': np.sum}, fill_value=0)
table3

CONSUMER           ck       debi       kerk         xy      yijin         yy
grandtotal  65.519667  65.519667  67.873667  49.041667  39.625667  58.457667

In [21]:
# table2 = pd.pivot_table(df2, values = 'grandtotal', index = ['MENU_ITEM'], columns = ['CONSUMER'], aggfunc={'grandtotal': np.sum}, fill_value=0)
# table2